body {
    margin: 0px;
}

.container {
    display: flex;
}

header {
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    opacity: 0.9;
}


.logo {
    padding: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo a {
    text-decoration: none;
    color: orchid;
    
}

.nav-list {
    list-style: none;
}

.nav-item {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: orchid;
}

.hero-image {
    background-image: url("/vapor_background.jpg");
    background-color: blueviolet;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-align: center;
}